In [25]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
df = pd.read_csv("data/twitter_training.csv")

In [74]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [75]:
df.columns

Index(['2401', 'Borderlands', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')

In [76]:
temp_df = df.iloc[:,3:4]

In [77]:
temp_df.head()

  im getting on borderlands and i will murder you all ,
0  I am coming to the borders and I will kill you...
1  im getting on borderlands and i will kill you ...
2  im coming on borderlands and i will murder you...
3  im getting on borderlands 2 and i will murder ...
4  im getting into borderlands and i can murder y...

In [78]:
# Initialize the SimpleImputer with strategy='mean'
imputer = SimpleImputer(strategy='most_frequent')

In [79]:
np_array=imputer.fit_transform(temp_df[['im getting on borderlands and i will murder you all ,']])

In [80]:
# Convert to DataFrame
temp_df = pd.DataFrame(np_array, columns=['Text'])

In [81]:
temp_df.isnull().mean()*100

Text    0.0
dtype: float64

In [82]:
tfidf=TfidfVectorizer()

In [85]:
tfidf_matrix=tfidf.fit_transform(temp_df)

In [86]:
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

In [89]:
print(tfidf)

TfidfVectorizer()