In [25]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
df = pd.read_csv("data/twitter_training.csv")

In [74]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [75]:
df.columns

Index(['2401', 'Borderlands', 'Positive',
       'im getting on borderlands and i will murder you all ,'],
      dtype='object')

In [113]:
temp_df = df.iloc[:,3:4]

In [114]:
temp_df.head()

  im getting on borderlands and i will murder you all ,
0  I am coming to the borders and I will kill you...
1  im getting on borderlands and i will kill you ...
2  im coming on borderlands and i will murder you...
3  im getting on borderlands 2 and i will murder ...
4  im getting into borderlands and i can murder y...

In [115]:
# Initialize the SimpleImputer with strategy='mean'
imputer = SimpleImputer(strategy='most_frequent')

In [116]:
np_array=imputer.fit_transform(temp_df[['im getting on borderlands and i will murder you all ,']])

In [117]:
# Convert to DataFrame
temp_df = pd.DataFrame(np_array, columns=['Text'])

In [119]:
temp_df.head()

                                                Text
0  I am coming to the borders and I will kill you...
1  im getting on borderlands and i will kill you ...
2  im coming on borderlands and i will murder you...
3  im getting on borderlands 2 and i will murder ...
4  im getting into borderlands and i can murder y...

In [118]:
temp_df.isnull().mean()*100

Text    0.0
dtype: float64

In [104]:
tfidf=TfidfVectorizer()

In [108]:
result=tfidf.fit_transform(temp_df)

In [111]:
# get indexing
print('\nWord indexes:')
print(tfidf.vocabulary_)

Word indexes:
{'text': 0}

In [110]:
print(result.toarray())

[[1.]]